<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Jobs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body class= "bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bottom">
        <a class="navbar-brand text-danger" href="./index">Slasha's Kuttz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-danger" href="./index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" href="./menu">Menu</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link active" href="./login">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" href="./members">Log Out</a>
            </li>
          </ul>
        </div>
        <img src="../assets/skullslogo.png" alt="Little Logo" class="smallLogo">
      </nav>
      <div class="container mt-5 text-center">

      <h1 class="adminh1">What do you want to do?</h1>
  
        <div class="input-group mb-3 ">
          <div class="input-group-prepend mx-auto ">

            <div class="btn-group" role="group" aria-label="Basic example">
              <a type="button" href="./addItem" class="btn btn-primary m-2 rounded">Add an Item</a>
              <a type="button" href="./update" class="btn btn-secondary m-2 rounded">Update an Item</a>
              <a type="button" href="./removeItem" class="btn btn-danger m-2  rounded">Remove an Item</a>
            </div>
            </div>
          </div>
          <img src="../assets/office-orc.jpg" class="mt-5 office-orc" alt="Office Orc">
        </div>

</body>
</html>