form.signup,
form.login {
  margin-top: 50px;
}
#homepageh1 {
  color: darkred;
  font-weight: 800;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}
#homepageh1 .word {
  display: inline-block;
  line-height: 1em;
}

.card {
  border-width: 3px;
  border-color: darkred;
  background-color: rgb(35, 40, 44);
}
.card-text {
  width: 80%;
  margin: auto
}
.adminh1 {
  color: darkred
}
.addItemh1 {
  color: darkred
}
.updateItemh1 {
  color: darkred
}
#itemId {
  border-width: 1px;
  border-color: darkred
}
.removeItemh1 {
  color: darkred
}
.smallLogo {
  height: 50px
}
.active {
  background-color: darkred;
  text-color: white
}
.cart-icon {
  background-color: darkred;
  
}
.icon-button {
  background-color: darkred;
}


